{% extends "base.html" %}
{% block content %}
<div class="container">
    <br><br><br>
    <h1 class="title">About - DiscordBotClub</h1>
    <p class="content">
        All rights for the content on this site go to the source botlists: discordbots.org, bots.discord.pw, botlist.space,
        discordbot.world, bots.discordlist.app.<br>
        This site is just a provider and does not own the content.
        <br><br>
        <b>Email:</b> <a href="mailto:contact@discord.club">contact@discord.club</a>
    </p>
    <br><br><br><br>
</div>
{% endblock content %}