{% extends "base.html" %}
{% block content %}
<div class="container">
    <br><br><br>
    <h1 class="title">Featured Bots</h1>
    <br><br>
    <div class="columns is-multiline">
        {% for bot in featured_bots %}
        <div class="column is-half">
            {% include '/components/bot.html' %}
        <br>
        </div>
        {% endfor %}
    </div>
    <br><br><br>
    <a href="/new"><h1 class="title">New Bots</h1></a>
    <br><br>
    <div class="columns is-multiline">
        {% for bot in new_bots %}
        <div class="column is-half">
            {% include '/components/bot.html' %}
        <br>
        </div>
        {% endfor %}
    </div>
    <br><br>
</div>
{% endblock content %}